@import '../../sass/_variables.scss';

.footer {
		background: $blue; 
		height: 18vh;
		padding: 2em 1em 0em;
		text-align: center;

		& img {
			max-height: 30px;
			max-width: 30px;
		}

		.source {
			border-bottom: 1px solid $white;
			margin: 0 auto;
			padding: 0 0 1em;
			width: 60%;
		}
		
		.signature {
			color: $white;
			font-size: 1.5em;
			font-weight: 550;
			margin-top: 0.8em;
			padding: 0 0 0.5em;
			text-shadow: 0.5em 0.5em 0.5em $black;
		}
}